@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.vollkorn {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}